@model CommonLogsDto
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Test of using RunStartupMethodsSequentially</h1>
</div>

<p>
    This web app is designed to test that two start services, 1. migrate and 2. seed a database is run seperately when using the 
    <a href="https://github.com/JonPSmith/RunStartupMethodsSequentially">RunStartupMethodsSequentially library.</a>
</p>
<p>
    When this web app is deployed to mutiple instances it will update an single entity (referred to as "Common") , and another entity (referred to as "Logs")
    provides a log of what happened. From this information you can check that each instance runs the the startup services. 
    For instance if you had three instances of this apllication running, then you should get something like this.
</p>
<h3>Common entity</h3>
<p>State: Updated, Stage = 3, time = ...</p>
<h3>Losg - newest first</h3>
<ul>
    <li>Common entity found. Updated common to Stage to 3</li>
    <li>Common entity found. Updated common to Stage to 2</li>
    <li>No common entity found. Created a new common and set its Stage to 1</li>
</ul>

<p><i>NOTE: Timings of when each instance runs on Azure is variable.</i></p>

See the page below for the current results.

<hr/>
<h1 class="text-center">Live results</h1>

<h2>Common entity</h2>

@if(@Model.Common == null)
{
    <p>No common</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    State
                </th>
                <th>
                    Stage
                </th>
                <th>
                   Time updated (UTC)
                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    @Model.Common.Name
                </td>
                <td>
                    @Model.Common.Stage
                </td>
                <td>
                    @Model.Common.DateTimeUtc.ToString("HH:mm:ss")
                </td>
            </tr>

        </tbody>
    </table>
}

<h2>Logs - newest first</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Log
            </th>
            <th>
               Time Created (UTC)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Logs) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.DateTimeUtc.ToString("HH:mm:ss")
            </td>

        </tr>
}
    </tbody>
</table>
